.main {
  padding-inline: 2em;
  min-height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
}
.heroHeader {
  margin-left: 550px;
  padding-top: 10em;
  max-width: 550px;
  transition: .2s linear;
}
.heroHeader h1 {
  font-size: 3em;
}
.mealAction {
  display: flex;
  align-items: center;
  gap: 3em;  
  margin-top: 1em;
  min-height: 46px;
}
.mealAction span {
  font-size: 2.4em;
  color: rgb(255, 34, 0);
  font-family: "Protest Strike", sans-serif;
}
.mealAction button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #2e2e2f;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #2b6cb0;
  font-weight: 700;
  color: white;
  line-height: 26px;
  transition: .2s linear;
}
.mealAction button:hover {
  transform: translateY(5px);
  border-bottom-width: 2px;
}
.carousel {
  display: flex;
  align-items: center;
  gap: 2em;
  overflow-x: scroll;
  height: 16em;
  margin: auto 0 0 1.5em;
  padding-inline: 2em;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel .cards {
  min-width: 13em;
  height: 203px;
  background-color: #2e2e2f;
  border-radius: 10px;
  border-top-left-radius: 2em;
  display: flex;
  flex-direction: column;
  transition: .2s linear;
  border: 2px solid transparent;
}
.carousel .cards:hover {
  box-shadow: #00000029 0 1px 4px, #333 0 0 0 3px, #00000017 0 2px 1px, #00000017 0 4px 2px, #00000017 0 8px 4px, #00000017 0 13px 8px, #00000017 0 14px 16px, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-color: white;
  transform: scale(1.05);
}
.carousel .cards > div {
  height: 50%;
}
.carousel .cards .topHalf {
  display: flex;
  gap: 1em;
}
.carousel .cards .topHalf img {
  width: 62%;
  height: 125px;
  transform: translate(-1em, -1em);
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
}
.carousel .cards:hover .topHalf img {
  transform: translate(-1em, -1em) rotate(35deg);
}
.carousel .cards .topHalf span {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .cards .bottomHalf {
  text-transform: capitalize;
  padding-inline: 1em;
  color: white;
}
.carousel .cards .bottomHalf h3 {
  margin-top: .5em;
}
.carousel .cards .bottomHalf p {
  color: #adadad;
  margin-bottom: .5em;
}
.carousel .cards .infoAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .cards .infoAction button {
  transition: .1s linear;
  color: white;
}
.carousel .cards .infoAction button:hover {
  color: #2b6cb0;
}
.socials {
  position: absolute;
  left: 1em;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media only screen and (max-width: 1160px) {
  .heroHeader {
    margin-left: 440px;
  }
}
@media only screen and (max-height: 750px) {
  .heroHeader {
    font-size: .8em;
    padding-top: 16vh;
  }
}
@media only screen and (max-height: 660px) {
  .heroHeader {
    margin-bottom: 3em;
    padding-top: 80px;
  }
  .carousel {
    height: 15em;
    font-size: .8em;
  }
  .carousel .cards {
    height: 160px;
    min-width: 16em;
    font-size: .8em;
  }
  .carousel .cards img {
    height: 91px !important;
    width: 57% !important;
    transform: translate(-1.2em, -1.2em) !important;
  }
  .carousel .cards:hover img {
    transform: translate(-1.2em, -1.2em) rotate(35deg) !important;
  }
  .carousel .cards .topHalf {
    gap: 2.3em;
  }
  .carousel .cards .bottomHalf p {
    margin-bottom: 1em;
  }
}